@charset "utf-8";

body {
  min-width: 195px;
  overflow-x: hidden;
}

#vote-container {
  position: relative;
  width:110px;
  height: 22px;
  background-repeat: repeat-x;
}

#vote-wrapper {
  position: absolute;
  top:0;
  height: 22px;
  background-repeat: repeat-x;
  z-index: 1;
  cursor: pointer;
}